<nav class="primary">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
  </ul>
</nav>
<header class="page-header">
  
  <div>
    <p class="site-name"><%= siteTitle %></p>
    <p class="tagline"><%= tagline %></p>
  </div>
</header>