<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include('../partials/header') %>
  <%- include('../partials/head') %>
</head>
<body>

  <h1>Dynamic Image Gallery</h1>
  <h2>It's so dynamic!</h2>
  <main>
    <div class = "gallery"></div>
  </main>

  
  <%- include('../partials/footer') %>

</body>

</html>