<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include('../partials/header') %>
  <%- include('../partials/head') %>
</head>
<body>

  <h1>Time to login!</h1>
  <h2></h2>
  <main>
  </main>
  <%- include('../partials/footer') %>

</body>

</html>