<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include('../partials/header') %>
  <%- include('../partials/head') %>
</head>
<body>

  <h1>Let's get registered baby!</h1>
  <h2>Do it today!!!</h2>
  <main>
  </main>
  <section></section>
  <%- include('../partials/time') %>
  <%- include('../partials/footer') %>
</body>

</html>
